<%= render partial: "shared/navbar" %>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="sidebar-block">
          <%= form_for @comboard do |f| %>
          <form action="javascript:void(0);">
            <h3>輸入您的徵求內容</h3>


            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :destination, "目的地:" %></label>
                <div class="input2_inner">
                  <%= f.text_field :destination, class: "input" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :flight_date_from, "期望開始日期" %></label>
                <div class="input1_inner">
                  <%= f.date_field :flight_date_from, class: "input datepicker" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :flight_date_to, "期望結束日期"%></label>
                <div class="input1_inner">
                  <%= f.date_field :flight_date_to, class: "input datepicker" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :departure, "出發地:" %></label>
                <div class="input2_inner">
                    <%= f.text_field :departure, class: "input" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :destination, "目的地:" %></label>
                <div class="input2_inner">
                  <%= f.text_field :destination, class: "input" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :price, "期望單價:/張" %></label>
                <div class="input2_inner">
                  <%= f.text_field :price, class: "input" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :name, "徵求者姓名" %></label>
                <div class="input2_inner">
                  <%= f.text_field :name %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :content, "其他資訊" %></label>
                <div class="input2_inner">
                  <%= f.text_area :content, class: "input" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="no-padding margin-top text-center" style="margin-top:30px;">
              <%= f.submit '資訊輸入', class: 'btn btn-default btn-cf-submit3', style: 'width:100%;' %>
            </div>
            <div class="clearfix"></div>
          </form>
        <% end %>
        </div>
        <div class="clearfix"></div>
        <div class="margin-top"></div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/footer"%>
