<%= render partial: "shared/admin_nav_bar" %>
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="blog_content">
          <div class="post post-full">
            <div class="post-story">
              <h2>Destination: <%= @comboard.destination %></h2>
              <div class="post-story-info">
                <div class="date1"><%= @comboard.created_at %></div>
                <div class="by">Posted by <a><%= @comboard.user.name %></a></div>
              </div>
              <div class="post-story-body clearfix">
                Flight date from: <%= @comboard.flight_date_from %><br>
                Flight date to: <%= @comboard.flight_date_to %><br>
                Departure:<%= @comboard.departure %><br>
                Destination: <%= @comboard.destination %><br>
                User Name: <%= @comboard.name %><br>
                Expecting Price: <%= @comboard.price %><br>
                Additional Remarkes: <%= @comboard.content %><br>
              </div>
              <div class="right_side">
                <%= link_to 'Edit', edit_admin_comboard_path(@comboard), class: "btn btn-info" %>
                <%= link_to 'Delete', admin_comboard_path(@comboard), method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-info" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/footer"%>

