<%= render partial: "shared/navbar" %>

<div id="slider_wrapper">
  <div class="container">
    <div id="slider_inner">
      <div class="">
        <div id="slider">
          <div class="">
            <div class="carousel-box">
              <div class="inner">
                <div class="carousel main">
                  <ul>
                    <li>
                      <div class="slider">
                        <div class="slider_inner" id="railticket">
                          <div class="txt1"><span>除了機票、兌換卷，讓.齁.哩 還提供</span></div>
                          <div class="txt2"><span>高鐵票轉讓平台</span></div>
                          <div class="txt3"><span>趕緊在下方搜尋撿便宜囉！！ </span></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="slider_pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="front_tabs">
  <div class="container">
    <div class="tabs_wrapper tabs1_wrapper">
      <div class="tabs tabs1">
        <div class="tabs_content tabs1_content">
          <div id="tabs-1" class="form1">
            <%= form_for [@railticket, @search] do |f| %>
              <div class="row">
                <div class="col-sm-4 col-md-2">
                  <div class="select1_wrapper">
                    <label><%= f.label :train_no, "高鐵車票" %></label>
                    <div><%= f.text_field :train_no, class: "select1_inner" %></div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2">
                  <div class="input1_wrapper">
                    <label><%= f.label :destination, "目的地" %></label>
                    <div><%= f.text_field :destination, class: "select1_inner" %></div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2">
                  <div class="input1_wrapper">
                    <label><%= f.label :departure, "出發地" %></label>
                    <div><%= f.text_field :departure, class: "select1_inner" %></div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2">
                  <div class="input1_wrapper">
                    <label><%= f.label :date_from, "出發時間" %></label>
                    <div class="input1_inner">
                      <%= f.date_field :date_from, class: "input datepicker" %> - <%= f.date_field :date_to, class: "input datepicker" %>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2">
                  <div class="input1_wrapper">
                    <label><%= f.label :min_price, "價格 NTD$" %></label>
                    <div class="input1_inner">
                      <%= f.text_field :min_price, class: "select1_inner" %> - <%= f.text_field :max_price, class: "select1_inner" %>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 col-md-2">
                  <div class="button1_wrapper">
                    <%= f.submit "立馬搜尋", class: "btn btn-info btn-form1-submit" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="parallax1" class="parallax">
  <div class="bg1 parallax-bg"></div>
  <div class="overlay"></div>
  <div class="parallax-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 animated">
          <div class="txt1">即刻輸入您手中的高鐵票</div>
          <div class="txt2">一不小心多按了一張高鐵早鳥票？！如果不知該如何是好的您，趕緊上平台讓多的票幫您創造價值。
        </div>
        </div>
        <div class="col-sm-2">
         <%= link_to '輸入高鐵票', new_railticket_path, class: "btn-default btn0" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popular_cruises1">
  <div class="container">
    <h2 class="animated">熱門高鐵票</h2>
    <div class="title1 animated">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod <br>tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </div>
    <br><br>

    <div id="popular_wrapper" class="animated" data-animation="fadeIn" data-animation-delay="300">
      <div id="popular_inner">
        <div class="">
          <div id="popular">
            <div class="">
              <div class="carousel-box">
                <div class="inner">
                  <div class="carousel main">
                    <ul>
                      <% @railtickets.each do |railticket| %>
                      <div class="col-sm-6 col-md-4">
                        <li>
                          <div class="popular ">
                            <div class="popular_inner">
                              <figure>
                                <!-- <img src=<%= railticket.image %> alt="railticket-image" class="img-responsive"/> -->
                                <img src="http://placehold.it/370x232" alt="" class="img-responsive">
                                  <div class="over">
                                    <div class="v1"><%= railticket.destination %><span>被收藏次數: <%= railticket.favorites_count %></span></div>
                                    <div class="v2">Lorem ipsum dolor sit amet,concateus.</div>
                                  </div>
                              </figure>
                              <div class="caption">
                                <div class="txt1"><span><%= railticket.destination %></span></div>
                                <div class="txt1">Departure:<%= railticket.departure %></div>
                                <div class="txt1">Train no: <%= railticket.train_no %></div>
                                <div class="txt2">Train date: <%= railticket.train_date %></div>
                                <div class="txt2">Departure time: <%= railticket.departure_time %></div>
                                <div class="txt3 clearfix">
                                  <div class="left_side">
                                    <div class="nums">收藏次數: <%= railticket.favorites_count %></div>
                                  </div>
                                  <div class="right_side">
                                    <%= render partial: "shared/train_favorite", locals: {railticket: railticket} %>
                                  </div>
                                  <div class="right_side"><%= link_to '詳情', railticket_path(railticket), class: "btn btn-info" %></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </div>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="popular_pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/footer"%>
