<div id="main">
  <div class="top2_wrapper">
    <div class="container">
      <div class="top2 clearfix">
      <header>
        <div class="logo_wrapper">
          <a href="index.html" class="logo">
            <%= link_to tickets_path do %>
              <img src="/images/logo4.jpg" alt="" class="img-responsive">
            <% end %>
          </a>
        </div>
      </header>
      <div class="navbar navbar_ navbar-default">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse navbar-collapse_ collapse">
          <ul class="nav navbar-nav sf-menu clearfix">
            <li class="<%= active_class(tickets_path) %>"><%= link_to '廉航機票', tickets_path %><em></em></li>
            <li class="<%= active_class(coupons_path) %>"><%= link_to '機票兌換卷', coupons_path %><em></em></li>
            <li class="<%= active_class(railtickets_path) %>"><%= link_to '高鐵票', railtickets_path %><em></em></li>
            <li class="<%= active_class(metros_path) %>"><%= link_to '多日周遊券', metros_path %><em></em></li>
            <li class="<%= active_class(parktickets_path) %>"><%= link_to '遊園卷', parktickets_path %><em></em></li>
            <li class="<%= active_class(comboards_path) %>"><%= link_to '需求佈告欄', comboards_path %><em></em></li>
            <li class="<%= active_class(comboards_path) %>"><%= link_to '懶人包首頁', articles_path %><em></em></li>
            <% if current_user %>
              <li class="<%= active_class(user_path(current_user)) %>"><%= link_to '個人資訊', user_path(current_user) %><em></em></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
