<%= render partial: "shared/navbar" %>
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-2">
        <div class="sidebar-block">
          <%= form_for @parkticket do |f| %>
          <form action="javascript:void(0);">
            <h3>輸入您的票卷</h3>
            
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :park_name, "遊樂園名稱:" %></label>
                <div class="input2_inner">
                  <%= f.text_field :park_name %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :park_expiry_date, "遊園卷到期日" %></label>
                <div class="input1_inner">
                  <%= f.date_field :park_expiry_date, class: "input datepicker"  %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :price, "預售價格:" %></label>
                <div class="input2_inner">
                  <%= f.text_field :price, class: "input" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :quantity, "張數:" %></label>
                <div class="input2_inner">
                  <%= f.text_field :quantity, class: "input" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :image, "選擇遊園卷照片:" %></label>
                <%= f.file_field :image, class: "input" %>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :others, "其他資訊" %></label>
                <div class="input2_inner">
                  <%= f.text_area :others, class: "input" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="no-padding margin-top text-center" style="margin-top:30px;">
              <%= f.submit '資訊輸入', class: 'btn btn-default btn-cf-submit3', style: 'width:100%;' %>
            </div>
            <div class="clearfix"></div>
          </form>
        <% end %>
        </div>
        <div class="clearfix"></div>
        <div class="margin-top"></div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/footer"%>