<%= render partial: "shared/admin_nav_bar" %>
<div class="container">
  <h1>使用者清單</h1>
    <div class="row">
      <div class = "col-md- pull-left">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Comments</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= user.id %></th>
          <td><%= link_to user.name, user_path(user) %></td>
          <td>
          <% user.comments.each do |comment| %>
            <%= comment.content %>
          <% end %>
          </td>
          <td> <%= link_to 'Delete', admin_users_path(user), method: :delete, data: {confirm:"Are you sure?"} %></td>
        </tr>
       <% end %>
      </tbody>
     </table>
  </div>
  </div>

      <div class = "col-md-4 pull-right">
        <h3>Filter</h3>
        <%= search_form_for @ransack, url: admin_users_path do |f| %>

     <div>
      <%= f.label :name_cont, "使用者名稱" %>
      <%= f.text_field :name_cont %>
     </div>
    

     <div>
      <%= f.submit "篩選", class: "btn btn-info" %>
    </div>
        <% end %>
      </div>
      <%#= paginate @users %>
</div>
<%= render partial: "shared/footer"%>
