<%= render partial: "shared/admin_nav_bar" %>
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-2">
        <div class="sidebar-block">
          <%= form_for [:admin, @coupon] do |f| %>
          <form action="javascript:void(0);">
            <h3>輸入您的票卷</h3>

            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :airline, "航空公司:" %></label>
                <div class="input2_inner">
                  <%= f.text_field :airline %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :departure, "出發地:" %></label>
                <div class="input2_inner">
                  <%= f.text_field :departure, class: "input" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :destination, "目的地:" %></label>
                <div class="input2_inner">
                  <%= f.text_field :destination, class: "input" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :coupon_expiry_date, "兌換卷到期日" %></label>
                <div class="input1_inner">
                  <%= f.date_field :coupon_expiry_date, class: "input datepicker"  %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :flight_date_from, "兌換卷使用開始日期" %></label>
                <div class="input1_inner">
                  <%= f.date_field :flight_date_from, class: "input datepicker" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :flight_date_to, "兌換卷使用結束日期"%></label>
                <div class="input1_inner">
                  <%= f.date_field :flight_date_to, class: "input datepicker" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :tax, "兌換卷是否已經含稅金" %></label>
                <div class="input2_inner">
                    <%= f.text_field :tax, class: "input" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :price, "欲售單價:/張" %></label>
                <div class="input2_inner">
                  <%= f.text_field :price, class: "input" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :quantity, "兌換卷張數:" %></label>
                <div class="input2_inner">
                  <%= f.text_field :quantity, class: "input" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :image, "選擇兌換卷照片:" %></label>
                <%= f.file_field :image, class: "input" %>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 no-padding margin-top">
              <div class="input1_wrapper">
                <label><%= f.label :others, "其他資訊" %></label>
                <div class="input2_inner">
                  <%= f.text_area :others, class: "input" %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="no-padding margin-top text-center" style="margin-top:30px;">
              <%= f.submit '資訊輸入', class: 'btn btn-default btn-cf-submit3', style: 'width:100%;' %>
            </div>
            <div class="clearfix"></div>
          </form>
        <% end %>
        </div>
        <div class="clearfix"></div>
        <div class="margin-top"></div>
      </div>
    </div>
  </div>
</div
<%= render partial: "shared/footer"%>
