<!DOCTYPE html>
<html>
  <head>
    <title>TicketExchangePlatform</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="front">
    <% if flash[:notice] %>
      <div class="container">
        <div class="row1">
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= notice %>
          </div>
        </div>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="container">
        <div class="row1">
         <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= alert %>
          </div>
        </div>
      </div>
    <% end %>
    <div id="main">
      <div class="top1_wrapper">
        <div class="container">
          <div class="top1 clearfix">
            <% if current_user %>
              <div class="email1">Hi, <%= current_user.name %></div>
              <div class="phone1">
                <%= link_to('登出', destroy_user_session_path, method: :delete) %> | <%= link_to('修改密碼', edit_user_registration_path) %> |
                <% if current_user&.admin? %> 
                  <%= link_to '後台', admin_tickets_path %> |
                <% end %>
                <% else %>
                <%= link_to('註冊', new_user_registration_path) %>|<%= link_to('登入', new_user_session_path) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
